.auth {
  width: 400px;
  height: 400px;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__footer {
    .auth__navigation-item {
      max-width: 150px;
      margin: 0 auto;
    }
  }

  &__navigation-item {
    text-align: center;
    font-size: 16px;
  }
}
