<div class="auth">
  <div class="auth__header">
    <div class="auth__navigation-item" [routerLink]="['login']">login</div>
    <div class="auth__navigation-item" [routerLink]="['registration']">registration</div>
  </div>
  <div class="auth__content">
    <router-outlet></router-outlet>
  </div>
  <div class="auth__footer">
    <div class="auth__navigation-item" [routerLink]="['forgot-password']">forgot password</div>
  </div>
</div>
