<div>
  <form [formGroup]="form">
    <div>
      <input type="text" id="email" formControlName="email">
      <label for="email"></label>
    </div>
    <div>
      <input type="password" id="password" formControlName="password">
      <label for="password"></label>
    </div>
    <div>
      <input type="checkbox" id="remember" formControlName="remember">
      <label for="remember"></label>
    </div>
    <button (click)="onSubmit()">LOGIN!!!</button>
  </form>
</div>
