<header>
  <div routerLink="/"> main </div>
  <div routerLink="create"> create new character </div>
  <div routerLink="all"> all characters </div>
  <div routerLink="auth/login"> Login </div>
  <div routerLink="auth/registration"> registration </div>
</header>
<router-outlet></router-outlet>
<footer>

</footer>
