<form [formGroup]="form">
  <div class="wrapper">
    <div class="page_content">
      <div class="charblock_container">
        <div class="charblock_flex_separator">
          <div class="charblock_flex_separator_side">
            <div class="charblock">
              <div class="charblock_heading" (click)="toggleCharacter()">Character</div>
              <div class="charblock_content" *ngIf="isCharacterVisible">
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Name</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Name" formControlName="name">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Race</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Race" formControlName="race">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Career path</div>
                  <div class="charblock_content_row_info"><textarea placeholder="Career path"
                                                                    formControlName="careerPath"></textarea></div>
                </div>
              </div>
            </div>
            <div class="charblock">
              <div class="charblock_content">
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Experience</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Experience" formControlName="totalExp">
                  </div>
                </div>
              </div>
            </div>
            <div class="charblock">
              <div class="charblock_heading" (click)="togglePersonalInfo()">
                Personal details
              </div>
              <div class="charblock_content" *ngIf="isPersonalInfoVisible">
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Gender</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Gender" formControlName="gender">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Age</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Age" formControlName="age">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Date of Birth</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Date of Birth" formControlName="birthDate">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Birthplace</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Birthplace" formControlName="birthplace">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Nationality</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Nationality" formControlName="nationality">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Religion</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Religion" formControlName="religion">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Height</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Height" formControlName="height">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Weight</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Weight" formControlName="weight">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Eyes</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Eyes" formControlName="eyes">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Hair</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Hair" formControlName="hair">
                  </div>
                </div>
                <div class="charblock_content_row">
                  <div class="charblock_content_row_heading">Distinguishing Marks</div>
                  <div class="charblock_content_row_info">
                    <input type="text" placeholder="Distinguishing Marks" formControlName="distinguishingMark">
                  </div>
                </div>
              </div>
            </div>
            <div class="charblock">
              <div class="charblock_heading" (click)="toggleCharacterProfile()">Character profile</div>
              <div class="charblock_content" *ngIf="isCharacterProfileVisible">
                <table class="charblock_table" formArrayName="mainCharacteristics">
                  <tr>
                    <th></th>
                    <th>Weapon skill</th>
                    <th>Ballistic skill</th>
                    <th>Strength</th>
                    <th>Toughness</th>
                    <th>Agility</th>
                    <th>Intelligence</th>
                    <th>Will power</th>
                    <th>Fellowship</th>
                  </tr>
                  <tr>
                    <td class="left_heading">Main</td>
                    <td *ngFor="let characteristic of mainCharacteristics.controls; let i = index" [formGroupName]="i">
                      {{characteristic.get('name').value}}
                    </td>
                  </tr>
                  <tr>
                    <td class="left_heading">Starting</td>
                    <td *ngFor="let characteristic of mainCharacteristics.controls; let i = index" [formGroupName]="i">
                      <input type="text" formControlName="starting">
                    </td>
                  </tr>
                  <tr>
                    <td class="left_heading">Advance</td>
                    <td *ngFor="let characteristic of mainCharacteristics.controls; let i = index" [formGroupName]="i">
                      <input
                        type="text" formControlName="advanced"></td>
                  </tr>
                  <tr>
                    <td class="left_heading">Current</td>
                    <td *ngFor="let characteristic of mainCharacteristics.controls; let i = index" [formGroupName]="i">
                      <input
                        type="text" formControlName="current"></td>
                  </tr>
                </table>
                <table class="charblock_table" formArrayName="secondaryCharacteristics">
                  <tr>
                    <th></th>
                    <th>Attacks</th>
                    <th>Wounds</th>
                    <th>Strength Bonus</th>
                    <th>Toughness Bonus</th>
                    <th>Movement</th>
                    <th>Magic</th>
                    <th>Insanity Points</th>
                    <th>Fate Points</th>
                  </tr>
                  <tr>
                    <td class="left_heading">Secondary</td>
                    <td *ngFor="let characteristic of secondaryCharacteristics.controls let i = index" [formGroupName]="i">
                      {{characteristic.get('name').value}}
                    </td>
                  </tr>
                  <tr>
                    <td class="left_heading">Starting</td>
                    <td *ngFor="let characteristic of secondaryCharacteristics.controls let i = index"
                        [formGroupName]="i">
                      <input type="text" formControlName="starting">
                    </td>
                  </tr>
                  <tr>
                    <td class="left_heading">Advance</td>
                    <td *ngFor="let characteristic of secondaryCharacteristics.controls let i = index"
                        [formGroupName]="i">
                      <input type="text" formControlName="advanced">
                    </td>
                  </tr>
                  <tr>
                    <td class="left_heading">Current</td>
                    <td *ngFor="let characteristic of secondaryCharacteristics.controls let i = index"
                        [formGroupName]="i">
                      <input type="text" formControlName="current">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="charblock">
              <div class="charblock_heading" (click)="toggleTalents()">Talents</div>
              <div class="charblock_content" *ngIf="isTalentsVisible">
                <table class="charblock_talents_table" formArrayName="talents">
                  <tr>
                    <th>Talent</th>
                    <th>Description</th>
                  </tr>
                  <tr *ngFor="let talent of talents.controls; let i = index" [formGroupName]="i">
                    <td>
                      <input type="text" formControlName="name">
                    </td>
                    <td>
                      <input type="text" formControlName="description">
                    </td>
                  </tr>
                  <button (click)="addNewTalent()">add new talent</button>
                </table>
              </div>
            </div>
          </div>
          <div class="charblock_flex_separator_side">
            <div class="charblock right">
              <div class="charblock_heading">Skills</div>
              <div class="charblock_content">
                <table class="charblock_skills_table" formArrayName="skills">
                  <div *ngFor="let skill of skills.controls; let i=index">
                    <tr>
                      <th>Taken</th>
                      <th>Basic Skills</th>
                      <th>Total</th>
                      <th>Char</th>
                      <th>+10%</th>
                      <th>+20%</th>
                      <th>Related Talents</th>
                      <th>Assoc Char</th>
                    </tr>
                    <tr [formGroupName]="i">
                      <td><input type="checkbox" formControlName="taken"></td>
                      <td><input type="text" formControlName="name"></td>
                      <td><input type="text" formControlName="total"></td>
                      <td><input type="text"></td>
                      <td><input type="checkbox"></td>
                      <td><input type="checkbox"></td>
                      <td><input type="text" formControlName="relatedTalent"></td>
                      <td>{{skill.get('relatedCharacteristic').value}}</td>
                    </tr>
                  </div>
                  <button (click)="addNewSkill()">add new skill</button>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="charblock charblock_full" formGroupName="inventory">
          <div class="charblock_heading">Trappings</div>
          <div class="charblock_content">
            <table class="trappings_table" formArrayName="trappings">
              <tr>
                <th>Item</th>
                <th>Location</th>
                <th>Enc</th>
              </tr>
              <tr *ngFor="let item of trappings.controls,let i=index" [formGroupName]="i">
                <td><input type="text" formControlName="item"></td>
                <td><input type="text" formControlName="location"></td>
                <td><input type="text" formControlName="enc"></td>
              </tr>
              <button (click)="addNewTrappings()">add new trappings</button>
            </table>
          </div>
        </div>
        <div class="charblock charblock_full">
          <div class="charblock_heading">Enc</div>
          <div class="charblock_content">
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Maximum Enc Capacity = S * 10</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="maxEnc"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Total Enc</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="totalEnc"></div>
            </div>
          </div>
        </div>
        <div class="charblock charblock_full" formGroupName="inventory">
          <div class="charblock_heading">Weapons</div>
          <div class="charblock_content" formArrayName="weapons">
            <table class="weapon_table" *ngFor="let weapon of weapons.controls, let i=index " [formGroupName]="i">
              <tr>
                <th>Weapon</th>
                <th>Group</th>
                <th>Damage</th>
                <th>Range</th>
                <th>Reload</th>
              </tr>
              <tr>
                <td><input type="text" formControlName="name"></td>
                <td><input type="text" formControlName="group"></td>
                <td><input type="text" formControlName="damage"></td>
                <td><input type="text" formControlName="range"></td>
                <td><input type="text" formControlName="reload"></td>
              </tr>
              <tr>
                <td colspan="5">
                  <input type="text" placeholder="QUALITIES" formControlName="qualities">
                </td>
              </tr>
            </table>
            <button (click)="addNewWeapon()">add new weapon</button>
          </div>
        </div>
        <div class="charblock charblock_full" formGroupName="inventory">
          <div class="charblock_heading">Armor</div>
          <div class="charblock_content">
            <table class="armour_table" formArrayName="armor">
              <tr>
                <th>Armor Type</th>
                <th>Locations Covered</th>
                <th>Enc</th>
                <th>AP</th>
              </tr>
              <tr *ngFor="let item of armor.controls, let i=index" [formGroupName]="i">
                <td><input type="text" formControlName="armorType"></td>
                <td><input type="text" formControlName="locationCovered"></td>
                <td><input type="text" formControlName="Enc"></td>
                <td><input type="text" formControlName="AP"></td>
              </tr>
              <button (click)="addNewArmor()">add new armor</button>
            </table>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Head(1-15) AP</div>
              <div class="charblock_content_row_info"><input type="text"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Right Arm(16-35) AP</div>
              <div class="charblock_content_row_info"><input type="text"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Left Arm(36-55) AP</div>
              <div class="charblock_content_row_info"><input type="text"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Body(56-80) AP</div>
              <div class="charblock_content_row_info"><input type="text"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Right Leg(81-90) AP</div>
              <div class="charblock_content_row_info"><input type="text"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Left Leg(91-100) AP</div>
              <div class="charblock_content_row_info"><input type="text"></div>
            </div>
          </div>
        </div>
        <div class="charblock charblock_full">
          <div class="charblock_heading">Movement</div>
          <div class="charblock_content" formGroupName="movement">
            <table class="movement_table">
              <tr>
                <th>M</th>
                <th>Armoured M</th>
                <th>Move/ Disengage(M*2)</th>
                <th>Charge Attack(M*4)</th>
                <th>Run(M*6)</th>
                <th>Running Leap(M+SB)</th>
                <th>Standing Leap(M+SB+2)</th>
                <th>Flying</th>
              </tr>
              <tr>
                <td><input type="text" formControlName="M"></td>
                <td><input type="text" formControlName="armouredM"></td>
                <td><input type="text" formControlName="move"></td>
                <td><input type="text" formControlName="charge"></td>
                <td><input type="text" formControlName="run"></td>
                <td><input type="text" formControlName="runningLeap"></td>
                <td><input type="text" formControlName="standingLeap"></td>
                <td><input type="text" formControlName="flying"></td>
              </tr>
            </table>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Hampered Movement</div>
            </div>
            <div class="charblock_content_row" formGroupName="hamperedMovement">
              <div class="charblock_content_row_heading">Yards per minute</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="yardsPerMinute"></div>
            </div>
            <div class="charblock_content_row" formGroupName="hamperedMovement">
              <div class="charblock_content_row_heading">Miles per hours</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="milesPerMinute"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Standard Movement</div>
            </div>
            <div class="charblock_content_row" formGroupName="standartMovement">
              <div class="charblock_content_row_heading">Yards per minute</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="yardsPerMinute"></div>
            </div>
            <div class="charblock_content_row" formGroupName="standartMovement">
              <div class="charblock_content_row_heading">Miles per hours</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="milesPerMinute"></div>
            </div>
          </div>
        </div>
        <div class="charblock charblock_full" formGroupName="inventory">
          <div class="charblock_heading">Money & Treasure</div>
          <div class="charblock_content" formGroupName="moneyAndTreasure">
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Gold Crowns(GC)</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="gold"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Silver Shillings(S)</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="silver"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Brass Pennies(P)</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="brass"></div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Other Treasure</div>
              <div class="charblock_content_row_info"><input type="text" formControlName="treasures"></div>
            </div>
          </div>
        </div>
        <div class="charblock charblock_full">
          <div class="charblock_heading">Action Summary</div>
          <div class="charblock_content">
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Aim - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Cast - Varies</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Charge - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Disengage - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Move - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Ready - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Reload - Varies</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Stand/Mount - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Standard Attack - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Swift Attack - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Use a Skill - Varies</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">All Out Attack - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Defensive Stance - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Delay - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Feint - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Guarded Attack - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Jump/Leap - Full</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Manoeuvre - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Parrying Stance - Half</div>
            </div>
            <div class="charblock_content_row">
              <div class="charblock_content_row_heading">Run - Half</div>
            </div>

          </div>
        </div>
      </div>
      <button (click)="onSubmit()"> Create Hero!!! </button>
    </div>
  </div>
</form>
