<div>
  <form [formGroup]="form">
    <div>
      <input type="text" id="email" formControlName="email">
      <label for="email">email</label>
    </div>
    <div>
      <input type="text" id="nickname" formControlName="nickname">
      <label for="nickname">nickname</label>
    </div>
    <div>
      <input type="text" id="password" formControlName="password">
      <label for="password">password</label>
    </div>
    <div>
      <input #confirmPassword type="text" id="confirmPassword">
      <label for="confirmPassword">confirmPassword</label>
    </div>
    <button (click)="onSubmit()">registration !!!</button>
  </form>
</div>
