$main-font-family: 'DinPro';
img{
  width: 100%;
  display: block;
  height: auto;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.no-padding{
  padding-left: 0!important;
  padding-right: 0!important;
}
.typical-horizontal-list{
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  &>li{
    display: inline-block;
  }
}
.typical-vertical-list{
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  &>li{
    display: block;
    margin: 0;
  }
}
.additional-layer{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
h1,h2,h3,h4,h5,h6{
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
}
.wrapper,html,body{
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  font-family: $main-font-family,'sans-serif';
  font-weight: 300;
  overflow-x: hidden!important;
}
.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;

}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,textarea{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  &:focus{
    outline: none;
  }
}