@mixin addFont($font-family,$font-name,$font-weight: 400,$font-style: normal){
  @font-face {
    font-family: $font-family;
    src:  url('/assets/fonts/#{$font-name}.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/#{$font-name}.woff') format('woff'),
    url('/assets/fonts/#{$font-name}.ttf')  format('truetype'),
    url('/assets/fonts/#{$font-name}.svg') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
@include addFont('DinPro',DINPro-Bold,700);
@include addFont('DinPro',DINPro-Light,300);
@include addFont('Poppins',Poppins-SemiBold,600);
