@media all and (min-width : 1920px) {
  html,body {
    font-size: 18px!important;
  }
}
@media all and (max-width : 1920px) {
  html,body {
    font-size: 18px!important;
  }
}
@media all and (max-width : 1750px) {
  html,body {
    font-size: 17px!important;
  }
}
@media all and (max-width : 1600px) {
  html,body {
    font-size: 16px!important;
  }
}
@media all and (max-width : 1440px) {
  html,body {
    font-size: 14px!important;
  }
  .page_content{
    width: 1200px;
    &_small{
      width: 1030px;
    }
  }

}
@media all and (max-width : 1366px) {
  html,body {
    font-size: 13px!important;
  }
}
@media all and (max-width : 1280px) {
  html,body {
    font-size: 12px!important;
  }
  .page_content{
    width: 1030px;
    &_small{
      width: 930px;
    }
  }
}
@media all and (max-width : 1024px) {

  .page_content{
    width: 800px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    &_small{
      width: 800px;
    }
    &_wrapper{
      &_catalogue_page{
        padding-top: 55px;
      }
    }
  }


}

@media all and (max-width : 767px) {


}
@media all and (max-width : 580px){

}
@media all and (max-width : 480px){

}
