//coloring link
@mixin color-this-link($default, $hovered:false) {
  color: $default;
  &:visited{
    color: $default;
  }
  &:hover {
    @if $hovered {
      color: $hovered;
    } @else {
      color: $default;
    }
  }
}
//clearfix
@mixin cf {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  &::before{
    content: '';
    display: table;
    clear: both;
  }
}
//list-type
@mixin list($type){
  @if $type == h{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    &>li{
      display: inline-block;
    }
  }
  @if $type == v{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    &>li{
      display: block;
      margin: 0;
    }
  }
}