html,body{
  background: white;
  transition: background 1.2s ease;
  &.black{
    background: black;
    .header_logo svg path,.header_burger svg path{
      fill: white;
    }
    .footer_bottom_nav a{
      @include color-this-link(white);
    }
    .header_page_label{
      color: white;
    }
  }
}
.wrapper{
  padding: 30px 0;
}
.page_content{
  width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 200;
  &_right{
    padding-left: 5.555rem;
    padding-right: 2.666rem;
  }
  &_small{
    width: 1170px;
  }
  &_wrapper{
    padding-top: 7.222rem;
    position: relative;
    &_main_page,&_contacts,&_project_page{
      padding-top: 0;
    }
    //&_catalogue_page{
    //  padding-top: 6.111rem;
    //}
  }
}
.charblock{
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  &_heading{
    font-size: 1.333rem;
    background: black;
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 700;
    cursor: pointer;
  }
  &_content{
    padding: 0.5rem;
    &_row{
      width: 100%;
      display: table;
      border: none;
      padding: 0.5rem 1rem;
      &_heading{
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        padding-right: 0.5rem;
        min-width: 5rem;
        vertical-align: top;
      }
      &_info{
        display: table-cell;
        vertical-align: top;
        width: 100%;
        input{
          width: 100%;
          border: none;
          border-bottom: 1px solid black;
          padding: 0.5rem;
          height: 1.4rem;
        }
        textarea{
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          min-height: 7rem;
          border: 1px solid black;
          padding: 0.5rem;
        }
      }
    }
  }
}
.charblock_table{
  width: 100%;
  border-collapse: collapse;

  td,th{
    height: 3rem;
    border: 1px solid black;
    &:first-child{
      width: 1%;
      white-space: nowrap;
      border: none;
      padding: 0.5rem;
    }
    input{
      width: 100%;
      height: 100%;
      text-align: center;
      border: none;

    }
  }
  th{
    font-size: 0.666rem;
    padding: 0.25rem;
    border: none;
  }
  tr:nth-child(2) td{
    background: black;
    color: white;
    text-align: center;
  }
  .left_heading{
    font-size: 0.666rem;
    background: white!important;
    color: #000!important;
    text-align: left!important;
  }
}
.charblock_talents_table{
  width: 100%;
  border-collapse: collapse;
  th,td{
    &:first-child{
      width: 40%;
    }
    &:last-child{
      width: 60%;
    }
  }
  th{
    text-align: center;
    text-transform: uppercase;
  }
  td{
    border: 1px solid black;
    input,textarea{
      padding: 0.5rem;
      width: 100%;
      border: none;
      min-width: 100%;
      max-width: 100%;
    }
  }
}
.charblock_skills_table {
  margin-bottom: 1rem;
  border-collapse: collapse;
  width: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  th {
    font-size: 0.666rem;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
  input[type="checkbox"] {
    width: 14px;
    height: 14px;
  }
  input[type="text"] {
    width: 100%;
    border: none;
    text-align: center;
  }
  td:nth-child(3) {
    border: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  tr:nth-child(2) td:nth-child(3) {
    border-top: 2px solid black;
  }
  tr:last-child td:nth-child(3) {
    border-bottom: 2px solid black;
  }
  td:nth-child(2){
    white-space: nowrap;
    padding: 0.25rem;
    text-align: left;
    min-width: 9.5rem;
  }
  td:nth-child(4),td:nth-child(7),td:last-child{
    border: 1px solid black;
  }
  td:last-child{
    padding: 0.25rem;
  }
  td:nth-child(5),td:nth-child(6){
    padding: 0.25rem;
  }
}
.trappings_table{
  border-collapse: collapse;
  width: 100%;
  td,th{
    border: 1px solid black;
  }
  th{
    text-align: center;
    padding: 0.5rem;
  }
  input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.5rem;
  }
}
.weapon_table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  &:last-child{
    margin-bottom: 0;
  }
  th{
    text-align: center;
    padding: 0.5rem;
  }
  td{
    border: 1px solid black;
    input{
      width: 100%;
      height: 100%;
      border: none;
      padding: 0.5rem;
    }
    &:nth-child(3),&:nth-child(4),&:last-child{
      width: 10%;
    }
  }
}
.armour_table{
  width: 100%;
  border-collapse: collapse;
  th{
    text-align: center;
  }
  td{
    border: 1px solid black;
    &:nth-child(3),&:last-child{
      width: 15%;
    }
    input{
      border: none;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
    }
  }

}
.movement_table{
  border-collapse: collapse;
  width: 100%;
  th{
    text-align: center;
  }
  td{
    border: 1px solid black;
    input{
      width: 100%;
      height: 100%;
      border: none;
      padding: 0.5rem;
    }
  }
}
.charblock_flex_separator{
  display: flex;
  justify-content: space-between;
  &_side{
    width: 48%;
    flex-basis: 48%;
  }
}
.header{
  position: fixed;
  left: 0;
  bottom: 100vh;
  z-index: 1000;
  width: 100%;
  display: inline-block;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 20px;
  top: 100%;
  border: 1px solid black;
  border-top: 1px solid white;
  @include color-this-link(black,white);
  transition: 0.2s ease;
  font-weight: 700;
  background: white;
  bottom: auto;
  top: 0;

  &:hover{
    background: #000;
  }
  &_content{
    display: block;
    width: 100%;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    left: 0;
    background: white;
    border-bottom: 1px solid black;
  }
  &_btn{
    display: inline-block;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin-right: 1.5rem;
    transition: 0.2s ease;
    &:last-child{
      margin-right: 0;
    }
    @include color-this-link(black,white);
    &:hover{
      background: black;
    }
  }
}







